
body{
    background-color: #F2E3D5;
    text-align: center;
    font-family: "Host Grotesk", sans-serif;
}

header{
    
    text-align: center;
}

nav{
    display: inline-block; /* Permite centrar el nav */
    list-style-type: none;
    width: 1100px;
    height: 5vh;
    background-color: #D9814E;
    margin-bottom: 5px;

    ul{
        margin: 0;
        height: 5vh;
    }

    li {
        width: 120px;
        height: 5vh;
        display: inline-flex;               /* Activa el modelo flex */
        justify-content: center;     /* Centra horizontalmente */
        align-items: center;         /* Centra verticalmente */

        a{
            font-size: 25px;
            color: white;
            text-decoration: none;
            width: 100%;
        }
    }
}

nav li:hover{
    background-color: #A64B29;
}

footer{
    width: 1100px;
    display: inline-block;
    background-color: #AABBBF;
    color: white; 
    font-size: 25px;   
}

iframe{
    width: 1100px;
    border: none;
    min-height: 55dvh;
}

a{
    cursor: pointer;
}

details {
    border: none; /* Borde del acordeón */
    border-radius: 5px; /* Bordes redondeados */
    margin-bottom: 10px; /* Espacio entre acordeones */
    background-color: white; /* Color de fondo */
    font-size: 18px;
}

summary {
    background-color: #362F2D; /* Color de fondo del encabezado */
    color: white; /* Color del texto */
    cursor: pointer; /* Cambia el cursor al pasar sobre el encabezado */
    padding: 15px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    outline: none; /* Sin contorno al hacer clic */
}

summary:hover {
    background-color: #82624E; /* Color al pasar el mouse sobre el encabezado */
}

/* Estilo del contenido dentro del acordeón */
.content-accordion {
    padding: 15px; /* Espaciado interno del contenido */
    background-color: #F0F1ED;
    font-size: 18px;
}

.f-smaller{
    font-size: smaller;
}

.txt-left{
    text-align: left;
    padding-left: 5px;
}

.link-img{
    text-decoration: none;
}

.line{
    width: 180px;
    height: 2px; /* Altura del hr */
    background-color: white; /* Color de fondo blanco */
    border: none; /* Sin borde */
    margin: 5px;
}

.dv-section-accordion{
    width: 930px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.dv-section-policies{
    width: 930px;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.dv-section{
    width: 230px;
    background-color: #91A08E;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.dv-section-big{
    width: 750px;
    background-color: #AABBBF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.dv-row{
    display: inline-flex;
}

.dv-box{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    max-width: 200px;     
}

.dv-box-middle{
    background-color: #F0F1ED;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    max-width: 600px;      
}

.dv-box-big{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    max-width: 1000px;      
}

.dv-box:hover{
    cursor: pointer;
}

.container-text{
    display: flex;
    justify-content: center;
}

.text-box{
    width: 800px;
    text-align: justify;
}

.spacing-item-5{
    margin: 0 5px; /* Espaciado entre los elementos */
}

.mt-10{
    padding-top: 10px;
}

.icon-footer{
    width: 30px;
    height: 30px;
    padding-top: 5px;
}

.img-dog{
    width: 200px;
    height: 200px;
}

.img-header{
    width: 1100px;
}

.button-back {  
    background-color: #B7A897; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    box-shadow: inset 0 0 0 0 #82624E;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
}

.button-back:hover {
    box-shadow: inset 400px 0 0 0 #82624E; /* Color de fondo al pasar el mouse */
}

.titulo-cuidado-perro h1{
    background-color: #F2E3D5;
    text-align: center;
    font-family: "Host Grotesk", sans-serif;
    color: #000000;						  
}

/* Estilo general para todas las secciones de cuidado */
.cuidado-seccion {
    width: auto;
    height: 300px;
    margin: 20px 0; /* Espaciado vertical entre secciones */
    border: 1px solid #ccc; /* Borde alrededor de cada sección */
    border-radius: 8px; /* Bordes redondeados */
    display: flex;
    align-items: center;
    padding: 40px;
}

.cuidado-seccion1 iframe {
    margin: 5px;
    width: 700px;
    height: 350px;
    border-radius: 8px;
    object-fit: cover;
}

.cuidado-seccion1{
    display: inline-flexbox;
    align-items: center;
    padding: 40px;
}

.cuidado-seccion1 p{
    font-size: large;
    text-align: center;
}
.cuidado-seccion{
    text-align: left;
    font-size: large;
}

.cuidado-seccion h2{
    text-align: center;
}

.cuidado-seccion img {
    margin: 5px;
    width: 300px;
    height: 300px;
    border-radius: 20%;
    object-fit: cover;
}

/* Estilo específico para la introducción */
#cuidado-introduccion {
    background-color: #f9f9f9; /* Color de fondo claro */
}

/* Estilo específico para la alimentación saludable */
#cuidado-alimentacion {
    background-color: #E6C9A8; /* Color de fondo azul claro */
}

/* Estilo específico para la higiene regular */
#cuidado-higiene {
    background-color: #D98859; /* Color de fondo naranja claro */
}

/* Estilo específico para el ejercicio */
#cuidado-ejercicio {
    background-color: #E6C9A8; /* Color de fondo morado claro */
}

/* Estilo específico para atención veterinaria */
#cuidado-veterinaria {
    background-color: #D98859; /* Color de fondo melocotón claro */
}

/* Estilo específico para socialización y educación */
#cuidado-socializacion {
    background-color:#E6C9A8; /* Color de fondo verde claro */
}
